{% extends 'base.html' %}
{% load static %}

{% block title %}
Join Us |
{% endblock title %}

{% block style1 %}
<link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
{% endblock style1 %}


{% block body1 %}


	
<div class="offer">
	<div class="small-container">
		<center><h1>Join Us</h1></center>
			
		<div class="row1">
			
				
				
             <center>

				<a href="#Contactus1" class="btn1">Business partner </a>
				<a href="#Contactus1" class="btn1">Franchise/Your own stores</a>
				<a href="#Contactus2" class="btn1">Bulk order/Local pharma store </a>

			</center>
			<center>

				<a href="#Contactus2" class="btn1">Doctor </a>
				<a href="#Contactus2" class="btn1">Hospital </a>
				<a href="#Contactus2" class="btn1">Medical establishment </a>

            </center>
			
			</div>
		</div>
	</div>	
</div>


     <section id="Contactus2">
    <div class="send-message">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Send us a Message</h2>
            </div>
          </div>
         
          <div class="col-md-8">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" placeholder="Mobile Number" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="id" type="text" class="form-control" id="email" placeholder="Email ID" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="State" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="City" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Pincode" required="">
                    </fieldset>
                  </div>
                   <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Desired Investment" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Experience" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                   
                      <a href="#" class="filled-button">JOIN US</a>
                    </fieldset>
                  </div>
              
                </div>
              </form>
            </div>
          </div>

          <div class="col-md-4 my-4">
            <div class="right-content">
              <center>
              <p><b>Phone:</b>+91 9938882805<br><b>Email:</b> business@dmez.in</p>
              
<div class="whatsapp">
	
<a href="https://api.whatsapp.com/send?phone=919938882805" target="_blank">    
<h5><i class="fa fa-whatsapp fa-3x " aria-hidden="true"></i></h5></a>
</center>
                </div>
      
              
            </div>
            
          </div>
      </section>
        </div>
      </div>
    </div>





<!--------------------------------------Onsale --------------------------------->

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <ul>
                  <li><p>Join us to become a part of the next revolution in healthcare</p></li>
                  <li><p>Join us to become Self Reliant</p></li>
                  <li><p>Join us to make healthcare easily accessible in all the parts of the country with special focus on rural areas</p></li>
                  <li><p>Join us to earn great and also make a social impact</p></li>
                  <li><p>Join us to be the part of futuristic, innovative & people's company</p></li>
                
                  </ul>
                </div>
             
              </div>
            </div>
          </div>
        </div>
{% endblock body1 %}