{% extends 'base.html' %}
{% load static %}

{% block title %}
Single Product |
{% endblock title %}

{% block style1 %}
<link rel="stylesheet" type="text/css" href="{% static '/specificstyle.css' %}">
{% endblock style1 %}


{% block body1 %}



  
  <h1><b><u>{{singles.name}}</u></b></h1>
  <div class="row1">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <section class="Left">
        
        <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
      <section class="Middle">
        
        
        <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
        
      </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <section class="Right">
        
       <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
  </div>

  <div class="row1">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <section class="Left">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
      <section class="Middle">
        
       <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <section class="Right">
        
        <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
  </div>

  <div class="row1">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <section class="Left">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
      <section class="Middle">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <section class="Right">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <section class="Right">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <section class="Right">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <section class="Right">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <section class="Right">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <section class="Right">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>
          </center> 
        </p>
      </section>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <section class="Right">
        
         <p>
          <center><a href="insert destination URL here"><img style="border:5px double black; margin-bottom: 10px;" src="{% static 'images/m3.png' %}" alt="Medicine" width="275" height="275"></a>

          <h5><b>Product Name:</b> XYZ</h5>
          <h5><b>MRP: </b>Rs.123</h5>
          <h5><b>Discounted Price: </b>Rs.100</h5>
          <button class="button button1">Buy now</button>

          </center> 
        </p>
      </section>
    </div>
  </div>

{% endblock body1 %}
