{% extends 'base.html' %}
{% load static %}

{% block title %}
Upload Precriptions |
{% endblock title %}

{% block style1 %}
<link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
  <style>
  #selectedFiles img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom:10px;
  }
</style>

{% endblock style1 %}


{% block body1 %}

<div class="offer">
	<div class="small-container">
		<div class="row">
			<div class="col-2">
				<center>
				<h2>DMEZ Healthcare</h2>
			</center>
			</div>
		</div>
	</div>	
</div>


    
    <div class="send-message">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Click here to upload precriptions</h2>
            </div>
          </div>
           
          </div>
           <form id="myForm" method="post">

               <input type="file" id="files" name="files" multiple style="border: none; font-size: 20px; margin-bottom: 30px;"><br/>

                <div id="selectedFiles"></div>

               
                <button type="submit"  style="border: none; background: green; color: #fff; margin:10px; font-size: 20px; padding:10px 20px; display: inline-block;" >Submit</button>
            </form>
        </div>

      </div>

    </div>







<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  
  <script>
  var selDiv = "";
  var storedFiles = [];
  
  $(document).ready(function() {
    $("#files").on("change", handleFileSelect);
    
    selDiv = $("#selectedFiles"); 
    $("#myForm").on("submit", handleForm);
    
    $("body").on("click", ".selFile", removeFile);
  });
    
  function handleFileSelect(e) {
    var files = e.target.files;
    var filesArr = Array.prototype.slice.call(files);
    filesArr.forEach(function(f) {      

      if(!f.type.match("image.*")) {
        return;
      }
      storedFiles.push(f);
      
      var reader = new FileReader();
      reader.onload = function (e) {
        var html = "<div><img src=\"" + e.target.result + "\" data-file='"+f.name+"' class='selFile' title='Click to remove'>" + f.name + "<br clear=\"left\"/></div>";
        selDiv.append(html);
        
      }
      reader.readAsDataURL(f); 
    });
    
  }
    
  function handleForm(e) {
    e.preventDefault();
    var data = new FormData();
    
    for(var i=0, len=storedFiles.length; i<len; i++) {
      data.append('files', storedFiles[i]); 
    }
    
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'handler.cfm', true);
    
    xhr.onload = function(e) {
      if(this.status == 200) {
        console.log(e.currentTarget.responseText);  
        alert(e.currentTarget.responseText + ' items uploaded.');
      }
    }
    
    xhr.send(data);
  }
    
  function removeFile(e) {
    var file = $(this).data("file");
    for(var i=0;i<storedFiles.length;i++) {
      if(storedFiles[i].name === file) {
        storedFiles.splice(i,1);
        break;
      }
    }
    $(this).parent().remove();
  }
  </script>
{% endblock body1 %}